<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
      <style>
   .c {
    border: 1px solid #333; /* Рамка */
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
  }
   .c:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00;
   }
  </style>
</head>
<body>
<h1 align="center">
    Курсовая работа Варенцовой Ольги по теме: "Поликлиника"
</h1>
<form>
   <div align = center>
      <p style="width: 470px;">
          <a href="query/0" class="c">Создать отчет на дату форме: Фамилия врача, номер кабинета, количество записавшихся пациентов, количество пациентов, явившихся на прием. </a>
      </p>
       <p style="width: 470px;">
           <a href="query/1" class="c">Создайть отчет о пациентах врача по фамилии Rotar на дату по форме: Фамилия пациента, дата приема, диагноз. </a>
       </p>
       <p style="width: 470px;">
           <a href="query/2" class="c">Показать все сведения о враче, который работает в поликлинике дольше всех. </a>
       </p>
       <p style="width: 470px;">
           <a href="query/3" class="c">Определить сколько в среднем пациентов в день посещает поликлинику в каждом месяце.</a>
       </p>
       <p style="width: 470px;">
           <a href="query/4" class="c">Показать фамилии врачей, которые не сделали ни одной записи в карточках пациентов. </a>
       </p>
       <p style="width: 470px;">
           <a href="query/5" class="c">Показать фамилии врачей, которые не вели приема в дату 2000-09-04.</a>
       </p>
       <p style="width: 470px;">
            <a href="static_otchet" class="c">Выполнить отчет сколько пациентов принял каждый врач, работающий в поликлинике за месяц.</a>
       </p>
   </div>
</form>
</body>
</html>